@import "tailwindcss";

/*@plugin "daisyui" {*/
/*    themes: light --default, dark --prefersdark, cupcake;*/
/*}*/
@plugin "daisyui" {
    themes: all;
}

body {
    @apply m-0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html[data-theme="bumblebee"] .navbar {
    @apply bg-[#252f3b]
}

.card-body {
    @apply py-4
}

.card::after {
    content: '';
    @apply absolute inset-0 bg-black/0 transition duration-200
}

.card:hover {
    @apply shadow-xl
}

.card:hover::after {
    @apply bg-[#444444]/10 cursor-pointer
}
