name: backend-pr

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'backend/**'
      - '.github/workflows/**'
defaults:
  run:
    working-directory: backend

jobs:
  test:
    name: "backend: test"
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Seoul
      SPRING_PROFILES_ACTIVE: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew clean test --no-daemon --stacktrace --info

      - name: Upload test report (always)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: backend-test-report
          path: |
            backend/build/reports/tests/test
            backend/build/test-results/test
